<!DOCTYPE html>
<html><head><title><%= PageTitle %> - StartupList</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/nowjs/now.js"></script>
</head>
<body>
<div class="pageContainer" style="width:960px; margin:0px auto">
<div class="pageHeader" align="center">
 <h1 id="title"><%= PageTitle %></h2><a href="/">Home</a> <a href="/about" target="_blank">About</a>
</div>
<div class="content"><%- body %></div>
<div class="pageFooter" align="center">
 <a href="/">Home</a> <a href="/about" target="_blank">About</a>
</div>
<script type="text/javascript" src="/javascript/updateStartups.js"></script>
</div>
</body>
</html>
