<h3>by Yazad Daruvala</h3>

<p id="summary"> I know at the moment it is really crappy but soon it should be better. I am using this site to learn nodejs, nowjs, express and jade. Hopefully it works out. Basically I want to use the data from <a href="https://spreadsheets.google.com/ccc?key=0AkkhSN3vaY4jdF90b1l1Vnl5NmZjaTBNQWlJYVozMEE&hl=en#gid=7"> this spreadsheet</a> by Jed Christiansen and make a nice UI for it. Maybe post a summary from CrunchBase(or similar) if I am allowed. Also make sure the links are not broken, like a lot of the ones in the spreadsheet and if the links are broken or bad then hopefully just the summarry suffices.</p>

