<h3>by Yazad Daruvala</h3>

<p id="summary"> Basically I want to use the data from <a href="https://spreadsheets.google.com/ccc?key=0AkkhSN3vaY4jdF90b1l1Vnl5NmZjaTBNQWlJYVozMEE&hl=en#gid=7"> this spreadsheet</a>  by Jed Christiansen and make a nice UI for it. Maybe post a summary for each startup from CrunchBase(or similar) if I am allowed. Also implement a crowd-sourced editor to make sure the links are not broken, like a lot of the ones in the spreadsheet, and basically make sure the information is uptodate.
