<select name="text" id="selectedStartup" onchange="now.getStartupList(this.options[this.selectedIndex].text)">
<option>Red</option>
<option>Green</option>
<option>Blue</option>
</select>
<div id="startupList">Red</div>
<div style="position: absolute; bottom: 25;">
</div>
