<!DOCTYPE html>
<html><head><title><%= PageTitle %> - StartupList</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/nowjs/now.js"></script>
</head>
<body><h2 id="title"><%= PageTitle %></h2>
<%- body %>
</body>
<footer>
<a href="/">Home</a> <a href="/about">About</a>
<script>
$(document).ready(function(){
  now.appendStartup = function(data){
    htmlToAppend = '<div class="startup"><a href="'+data.url+'"><h4 id="name">'+data.name+'</h4></a>'+
                   '<p id="summary">' + '</p>' + '</div>';
    $('#content').append(htmlToAppend);
  }
  $('#selectedStartup').change(function(){
    $('#content').empty();
    now.getStartupList(this.options[this.selectedIndex].text)
  });
});
</script>
</footer></html>

