<!DOCTYPE html>
<html><head><title><%= PageTitle %> - StartupList</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/nowjs/now.js"></script>
</head>
<body>
<div class="pageContainer">
<div class="pageHeader" align="center">
 <h2 id="title"><%= PageTitle %></h2><a href="/">Home</a> <a href="/about">About</a>
</div>
<div class="content"><%- body %></div>
<div class="pageFooter" align="center">
 <a href="/">Home</a> <a href="/about">About</a>
</div>
<script>
$(document).ready(function(){
  now.appendStartup = function(data){
    htmlToAppend = '<div class="startup">'+
                   '<h4 id="name"><a href="'+data.url+'" target="_blank">'+data.name+'</a></h4>'+
                   '<ul>'+
                   '<li>Joined Program: '+data.start_date+'</li>'+
//                   '<li><a href="http://www.wikipedia.org/wiki/'+data.name+'" target="_blank">Wikipedia Article</a><p>(LOL.. this isn\'t exactly working)</p></li>'+
                   '<li>Summary:<p id="summary">' + '</p></li>'+
                   '</ul>'+
                   '</div>';
    $('#content').append(htmlToAppend);
  }
  $('#selectedStartup').change(function(){
    $('#content').empty();
    now.getStartupList(this.options[this.selectedIndex].text)
  });
});
</script>
</div>
</body>
</html>
